@model IEnumerable<Student>;




<table class="table table-dark">

    <tr>
        <th colspan="6">Instructor</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Admission Date</td>
        <td>Student Status</td>
        <td>More Details</td>
        <td>Change Details</td>


    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.studentStatus</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a></td>
            <td><a asp-action="EditDetails" asp-controller="Student" asp-route-id="@student.Id">Edit Details</a></td>

        </tr>
    }
    <button><a asp-action="AddStudent" asp-controller="Student">Add Student Information</a></button>




</table>