@{
    ViewData["Title"] = "Home Page";
    var FirstName = "Johann";
    var LastName = "Yee";

    var isTenured = "Permanent";
    var isNotTenured = "Probitionary";
    int SalaryPerHour = 100;
    int SalaryPerDay = SalaryPerHour * 8;
    int SalaryPerMonth = SalaryPerDay * 30;
    int additionalSalary = 500;
    int tenuredSalary = SalaryPerMonth + additionalSalary;
    var email = "gwapogod@gmail.com";
    int year = 2002; int month = 5; int day = 18;
    DateTime BirthDay = new DateTime(year,month,day);

    DateTime currentDateTime = DateTime.Now;
    int age = currentDateTime.Year - BirthDay.Year;
    string[] emailParts = email.Split('@');


    int prelim = 91;
    int final = 94;
    int semestral = (prelim + final)/2;
    string grade = SemestralToGrade(semestral);
    static string SemestralToGrade(int semestral)
    {
        if (semestral >= 96)
            return "1";
        else if (semestral >= 94)
            return "1.25";
        else if (semestral >= 92)
            return "1.50";
        else if (semestral >= 89)
            return "1.75";
        else if (semestral >= 87)
            return "2.00";
        else if (semestral >= 84)
            return "2.25";
        else if (semestral >= 82)
            return "2.50";
        else if (semestral >=  79)
            return "2.75";
        else if (semestral >= 75)
            return "3.00";
       
    else
            return "5.00";

    }
}


<style>
    table,td {
        border: 1px solid;
    }

</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi im @FirstName @LastName and my age is @age <br />

    Email: @email<br />
    Domain @emailParts[1] <br />
    Username @emailParts[0]<br />

    <form>
        <table
        
         <tr> <td> Name: @FirstName @LastName</td></tr>
           <tr> <td>email: @email</td> </tr>
             <tr><td>status: @isTenured</td></tr>
            <tr> <td>Daily Salary: @SalaryPerDay</td></tr>
               <tr> <td> Monthly Salary : </td></tr>@{
                    if (isTenured == "Permanent")
                    {
                          <tr>   <td>   @tenuredSalary</td></tr>
                    }
                }
        </tr>
        </table>
    </form>
        
            <table

         <tr> <td> Name: @FirstName @LastName</td></tr>
           <tr> <td>email: @email</td> </tr>
             <tr><td>status: @isNotTenured</td></tr>
            <tr> <td>Daily Salary: @SalaryPerDay</td></tr>
               <tr> <td> Monthly Salary : </td></tr>@{
                    if (isNotTenured == "Permanent")
                    {
                        <tr>   <td>   @tenuredSalary</td></tr>
                    }else
                    {
                                <tr>   <td>   @SalaryPerMonth</td></tr>
                    }
                }
        </tr>
        </table>

        <table>
            <tr><td>Name</td><td>@FirstName @LastName</td></tr>
            <tr><td>Prelim</td><td>@prelim</td></tr>
            <tr><td>Final</td><td>@final</td></tr>
            <tr><td>Semestral</td><td>@semestral</td></tr>
            <tr><td>Transumted</td><td>@grade</td></tr>
        </table>
        
    </p>
</div>
